<?php
$link = mysql_connect({{ mysql_host }}:{{ mysql_port }}, {{ mysql_username }}, {{ mysql_password }});
if (!$link) {
    die('Could not connect: ' . mysql_error());
}
echo 'Connected successfully';
mysql_close($link);
?>
